nav ul {
    background-color:#F4F3F3;
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: center;
}
.color-me {
    color:#111727;
}

nav a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a:hover {
    color:grey;
}

.nav-right {
    margin-left: auto;
    display: flex; 
    justify-content: flex-end; 
    width: 22%;
}